@charset "utf-8";
/* CSS Document */

/* CSS head */
.head{
	background:url(../images/head-icon.png) repeat;
	width:100%;
	height:263px;
	border-top: 1px solid #085a94;
	
}
.head-border{
	border-bottom:1px solid #6e96b9;
	padding-bottom:24px;
}
.head-content{
	width:1200px;
	margin:0 auto;
}
.head-content-top{
	margin-top:60px;
	padding-bottom:22px;
}
.logo h1{
	background:url(../images/logo.png) no-repeat;
	width:582px;
	height:81px;
}
.sech-box{
	width:258px;
	height:39px;
	background:#4877a3;
	opacity:0.8;
	border-radius:20px;
}
.sech{
	margin-top:30px;
}
.sech input{
	background:none;
	border:none;
	width:78%;
	height:100%;
	margin-left:5px;
}
.sech span{
	background:none;
	border:0;
	background:url(../images/sech.png) no-repeat;
	width:29px;
	height:28px;
	margin-top:6px;
	margin-right:20px;
	cursor:pointer;
}
.sech p{
	background:url(../images/wx.png) no-repeat;
	width:35px;
	height:29px;
	margin:0 10px 0 20px;
}
.nav{
	width:1200px;
	margin:0 auto;
}
.nav ul li{
	padding-right:60px;
	line-height:74px;
}
.nav ul li a{
	font-size:18px;
	color:#fff;
}

/* CSS head over */


/* CSS center */
.center{
	width:1200px;
	margin:40px auto 0;
}
.banner{
	float:left;
	width:746px;
	height:453px;
}
.banner img{
	width:100%;
	height:100%;
	margin-left:-3px;
	display:inline-block;
}

.news{
	float:right;
	width:414px;
	background:url(../images/news-icon.png) no-repeat 268px 1px;
	margin-top:20px;
}


.tab-list li {
	padding-bottom:28px;
	border-bottom:1px dashed #cacaca;
	margin-top:7px;
}
.tab-list li h3{
	font-weight:normal;
	font-size:22px;
	margin-bottom:22px;
	
}
.tab-list li p{
	font-size:14px;
	color:#9f9f9f;
}

.tab-list li p a{
	color:#ae0d00;
}


.core{
	width:100%;
	background:#f3f3f3;
	padding-top:45px;
	padding-bottom:50px;
	margin-top:56px;
}
.core-content{
	margin-top:45px;
	width:1200px;
	margin:0 auto;
}

.dynamic{
	width:749px;
}
.dynamic-title p{
	width:9px;
	height:27px;
	background:#00a1db;
	margin-right:13px;
	margin-top:7px;
}
.dynamic-title h3{
	font-weight:normal;
	font-size:28px;
}
.dynamic-title h3 span{
	color:#00a1db;
}
.dynamic-title a{
	font-size:14px;
	padding:5px 12px;
	background:#e2e2e2;
	border-radius:20px;
	margin-top:7px;
}
.dynamic-list{
	margin-top:30px;
}
.dynamic-img{
	width:250px;
	height:148px;
}
.dynamic-img img{
	width:100%;
	height:100%;
}
.dynamic-text-tight{
	width:486px;
}
.dynamic-text h3{
	font-size:22px;
	font-weight:normal;
	margin-bottom:28px;
	margin-top:16px;
}
.dynamic-text p{
	font-size:14px;
	color:#747474;
	line-height:24px;
}
.dynamic-list li{
	margin-top:8px;
	padding-bottom:8px;
	border:1px dashed #f3f3f3;
}
.dynamic-list li a{
	font-size:16px;
}
.dynamic-list li:hover{
	border-bottom:1px dashed #000;
}
.pubic{
	width:406px;
}
.service-icon{
	border:none;
}
.pubic ul{
	margin-top:30px;
}
.pubic ul li{
	width:134px;
	height:167px;
	background:#00a1db;
	margin-right:1px;
	margin-bottom:2px;
	text-align:center;
}
.pubic ul li img{
	margin-top:34px;
	margin-bottom:28px;
}
.pubic ul li p{
	color:#fff;
}
.pubic ul li:hover{
	background:#0063a7;
	transform:0.5s;
}
.union{
	width:1200px;
	margin:0 auto;
	margin-top:30px;
}
.union ul{
	margin-top:30px;
}
.union ul li {
	width:275px;
	height:54px;
	line-height:54px;
	text-align:center;
	background:#359adf;
	margin-right:30px;
	border-radius:4px;
	border-top:2px solid #359adf;
}
.union ul li a{
	font-size:16px;
	color:#fff;
}
.union ul li:hover{
	border-top:2px solid #ffd800;
	background:#004371;
	transform:1s;
}

.contact{
	width:1200px;
	margin:0 auto;
	margin-top:60px;
	padding-bottom:20px;
}
.contact-title{
	width:1158px;
	margin:0 auto;
	margin-bottom:30px;
}
.contact-title i{
	background:url(../images/title-icon.png) no-repeat;
	width:433px;
	height:1px;
	margin-top:26px;
}
.contact-title p{
	margin: 0 34px 0 34px;
	font-size:32px;
}
.contact-title span{
	background:url(../images/title-icon2.png) no-repeat;
	width:433px;
	height:1px;
	margin-top:26px;
}



/*图片*/

.service-icon{
	margin-bottom:10px;
}
.contact-img1{ 
	background:url(../images/contact-icon.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img1:hover{ 
	background:url(../images/contact-icon-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img2{ 
	background:url(../images/contact-icon2.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img2:hover{ 
	background:url(../images/contact-icon2-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img3{ 
	background:url(../images/contact-icon3.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img3:hover{ 
	background:url(../images/contact-icon3-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img4{ 
	background:url(../images/contact-icon4.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img4:hover{ 
	background:url(../images/contact-icon4-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img5{ 
	background:url(../images/contact-icon5.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img5:hover{ 
	background:url(../images/contact-icon5-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img6{ 
	background:url(../images/contact-icon6.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img6:hover{ 
	background:url(../images/contact-icon6-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img7{ 
	background:url(../images/contact-icon7.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img7:hover{ 
	background:url(../images/contact-icon7-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img8{ 
	background:url(../images/contact-icon8.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img8:hover{ 
	background:url(../images/contact-icon8-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img9{ 
	background:url(../images/contact-icon9.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img9:hover{ 
	background:url(../images/contact-icon9-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img10{ 
	background:url(../images/contact-icon10.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img10:hover{ 
	background:url(../images/contact-icon10-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img11{ 
	background:url(../images/contact-icon11.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img11:hover{ 
	background:url(../images/contact-icon11-1.png) no-repeat;
	width:146px;
	height:146px;
}

.contact-img12{ 
	background:url(../images/contact-icon12.png) no-repeat;
	width:146px;
	height:146px;
}
.contact-img12:hover{ 
	background:url(../images/contact-icon12-1.png) no-repeat;
	width:146px;
	height:146px;
}



/*图片*/

.contact-list{
	margin-top:50px;
}
.contact-list li{
	margin-right:60px;
	margin-bottom:40px;
	width:147px;
	text-align:center;
	height:200px;
	overflow:hidden;
}


.contact-list li p{
	font-size:16px;
}
.contact-list li:hover p{
	color:#116097;
	font-weight:bold;
}




.postion{
	padding:60px 20px 24px 20px;
	background:#f3f3f3;
}
.postion-box{
	width:1200px;
	margin:0 auto;
}
.pos-top-banner{
	width:1200px;
	height:107px;
}
.pos-top-banner img{
	width:100%;
	height:100%;
}
.pos-list li{
	width:290px;
}
.list-img{
	width:100%;
	height:172px;
}
.list-img img{
	width:100%;
	height:100%;
}
.pos-list-tetx{
	width:100%;
	height:
}
.pos-list-tetx h3{
	font-size:}
/* CSS center over*/

/* Div1 */
.Div1{
	width:1200px;
	height:auto;
	margin:30px auto;
	overflow:hidden;
	position:relative;
}
.Div1_title{
	height:32px;
	width:1000px;
	padding-bottom:3px;
	background:url(../images/lizi_img001.jpg) repeat-x;
}
.Div1_title em{
	float:left;
	font-style:normal;
	line-height:32px;
	padding-left:13px;
	font-size:14px;
}
.Div1_title span{
	float:right;
	display:block;
	padding:8px 15px 0 0;
	height: 20px;
}
.Div1_title span b , .Div1_title span a{
	display:block;
	float:left;
}
.Div1_title span b , .Div1_title span b img{
	width:11px;
	height:11px;
}
.Div1_title span b img{
	cursor:pointer;
}
.Div1_prev{
	position:absolute;
	left:4px;
	top:26%;
	width:50px;
	height:60px;
	background:rgba(0,0,0,0.5);
	z-index:99;
	padding:0 4px;
	text-align:center;
	cursor:pointer;
	color:#fff;
	font-size:50px;
	line-height:50px;
	font-weight: bold;
	border-radius:4px;
	display:none;
}
.Div1_next{
	position:absolute;
	left:1136px;
	top:26%;
	z-index:99;
	width:50px;
	height:60px;
	background:rgba(0,0,0,0.5);
	padding:0 4px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	font-size:50px;
	line-height:50px;
	font-weight: bold;
	border-radius:4px;
	display:none;
}
.Div1:hover .Div1_next{
	display:block;
}
.Div1:hover .Div1_prev{
	display:block;
}
.Div1_title span a{
	font-size:12px;
	background:url(../images/lizi_img005.jpg) no-repeat left center; 
	padding-left:15px;
	margin-right:10px;
}
.Div1_title span a:hover{
	color:#f34d01;
	background:url(../images/lizi_img004.jpg) no-repeat left center;
}
.Div1_title span a.Div1_title_a1{
	color:#f34d01;background:url(../images/lizi_img004.jpg) no-repeat left center;
}

.Div1_main{
	padding-top:13px;
	height:300px;
	width:10000px;
	overflow:hidden;
	position:relative;
	z-index:1;
}
.Div1_main div{
	width:1200px;
	height:480px;
	float:left;
}
.Div1_main div span{
	width:290px;
	height:280px;
	display:block;
	float:left;
	margin-right:10px
}
.Div1_main div span a{
	display:block;
	padding-left:4px;
}
.Div1_main_a1{
	padding:4px 3px 4px 4px;
	margin-bottom:4px;
}
.Div1_main_a1 , .Div1_main_a1 img{
	width:100%;
	height:172px;
}
.Div1_main div span b{
	color:#fa0000;
}

.Div1_main div span i{
	display:block;
	font-size:20px;
	margin-bottom:10px;
	margin-top:26px;
}
.Div1_main div span em{
	font-size:14px;
	color:#818181;
	line-height:25px;
}
.Div1_main div span p{
	line-height:20px;
	padding:0 10px;
	height:87px;
	color:#787878;
}
.Div1_main_a2{
	height:107px;
	width:100%;
 }
.Div1_main_a2:hover{
	
}

.Div1_main div span.Div1_main_span1 .Div1_main_a1{
	
}
.Div1_main_a2{
	border-top:1px solid #fff;
	margin-top:-10px;
	margin-left:4px;
	border-left:1px dashed #818181;
}

.Div1 .Div1_prev1 ,.Div1 .Div1_next1{
	display:block;
	width:31px;
	height:30px;
	position:absolute;
	cursor:pointer;
	z-index:2;
	top:102px;
}
.Div1 .Div1_prev1 img ,.Div1 .Div1_next1 img{
		width:31px;
		height:30px;
		}
.Div1 .Div1_prev1{left:18px;}
.Div1 .Div1_next1{left:1200px;}


.key{
	margin-top:50px;
	padding-bottom:50px;
}
.key-box{
	width:1200px;
	margin:0 auto;
}
.key-list ul li{
	overflow:hidden;
	width:379px;
	border:1px solid #ececec;
	border-top:8px solid #d53f3f;
	text-align:center;
	margin-right:27px;
}
.key-list ul li .list-text ol li{
	width:324px;
}

.key-list ul li .list-text ol li{
	border:none;
	margin-left:30px;
	margin-right:30px;
	line-height:30px;
}
.key-list ul li .list-text ol li i{
	
}
.list-text{ 
	border-top:8px solid #fff;
}
.list-text h3{
	font-size:20px;
	color:#d53f3f;
	margin-top:20px;
	margin-bottom:24px;
}
.list-text img{
	width:327px;
	height:117px;
}
.list-text h6{
	font-size:14px;
	width:117px;
	height:30px;
	border-radius:20px;
	margin:0 auto;
	line-height:30px;
	background:#eaeaea;
	font-weight:normal;
	margin-top:20px;
	margin-bottom:20px;
}
.key-list ul li:hover .list-text{
	border-top:8px solid #d53f3f;
}

.key-list ul li:hover .list-text2{
	border-top:8px solid #116097;
}
.key-list ul li:hover .list-text3{
	border-top:8px solid #3d9a13;
}


.footer{
	background:#1e232b;}
.footer-box{
	width:1200px;
	margin:0 auto;
}
.link-box{
	padding-top:40px;
	padding-bottom:40px;
	border-bottom:1px solid #7e8186;
}
.link li{
	position:relative;
}
.link{
	width:960px;
	margin:0 auto;
}
.link li i{
	margin-left:40px;
	margin-right:40px;
	color:#a8a9ab;
}
.link li a{
	color:#a8a9ab;
}

.mnul{
	position:absolute;
	left:-33px;
	bottom:-100px;
	background:#64b0fe;
	width:150px;
	height:100px;
	display:none;
	text-align:center;
	line-height:20px;
}
.link li:hover .mnul{
	
	display:block;
}
.link li p a{
	color:#a8a9ab;
	background:url(../images/sj.png) no-repeat 65px 8px;
	padding-right:20px;
}
.footer-bottom{
	height:70px;
	line-height:70px;
	color:#a8a9ab;
}

.footer-bottom ul li i{
	margin-left:30px;
	margin-right:30px;
}
.footer-bottom ul li a{
	color:#a8a9ab;
	background:url(../images/sm.png) no-repeat 5px 0px ;
	padding-left:30px;
}
.fixd{
	position:fixed;
	right:0;
	top:264px;
	border:1px solid #bdbcbc;
	background:#fff;
	z-index:10;
}
.fixd p{
	margin-left:4px;
	line-height:25px;
	margin-right:4px;
}
.fixd p a{
	color:#0183c6;
}


/* peter 添加 */
.nav li:hover a{
	color:#999;
}
.nav-list{
	position:absolute;
	left:50%;
	top:264px;
	margin-left:-600px;
	z-index:99;
	
}
.nav-lis{
	position:absolute;
	top:0;
	left:0;
	width:1200px;
	height:500px;
	display:none;
}
.nav-lis1{
	background:url(../images/nav-1.png) no-repeat;
}
.nav-lis2{
	background:url(../images/nav-2.png) no-repeat;
}
.nav-lis3{
	
}
.nav-lis4{
	background:url(../images/nav-4.png) no-repeat;
}
.nav-lis5{
	background:url(../images/nav-5.png) no-repeat;
}
.nav-lis6{
	background:url(../images/nav-6.png) no-repeat;
}
.nav-lis7{
	background:url(../images/nav-7.png) no-repeat;
}
.nav-lis8{
	background:url(../images/nav-8.png) no-repeat;
}
.nav-lis9{
	background:url(../images/nav-9.png) no-repeat;
}
.tab-box{
	margin-top:24px;
	position:relative;
	width:405px;
	height:400px;
}
.ju-lis{
	width:405px;
	height:400px;
	background:#fff;
	position:absolute;
	left:0;
	top:0px;
	display:none;
}
.ju-lis3{
	display:block;
}
.ju-lis1{
	background:url(../images/lis-lis2.png) no-repeat;
}
.ju-lis2{
	background:url(../images/lis-lis1.png) no-repeat;
}
.news-title{
	background:url(../images/news-icon3.png) no-repeat 2px 2px;
	padding-left:20px;
	padding-top:4px;
	font-family: "微软雅黑";
}
.news-title span{
	font-size:22px;
	padding:4px 8px;
	margin-right:30px;
	cursor:pointer;
	display:inline-block;
}
.lis-hov{
	background:#054986;
	border-radius:4px;
	color:#fff;
}


